.ads2{
    display: grid;
    grid-template-columns: 1fr 1fr;

    &-item1{
        background: url(../img/ads2.jpg) center no-repeat;
        background-size: cover;
    }
    &-item2{
        background-size: cover;
        background: url(../img/ads3.jpg) center no-repeat;
    }
    
    &-sub{
        padding: 65px 0;
        text-align: center;
    }
    &-sub > p{
        font-size: 1.5rem;
        color: $white-color;
        font-weight: 400;
        letter-spacing: 3px;
    }   
    &-sub > h3{
        font-size: 3.5rem;
        font-weight: 700;
        color: $white-color;
        margin: 20px 0 40px;
    }
    &-sub > a{
        color: #ffa400;
        background-color: $white-color;
    }
}