@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
}

.btn {
  border: none;
  outline: none;
  border-radius: 35px;
  text-decoration: none;
  padding: 14px 25px;
  cursor: pointer;
  font-size: 1.4rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .container {
    width: 984px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    width: 644px;
  }
}

.primary-heading {
  text-align: center;
}

.primary-heading__sub {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #9a9a9a;
  font-weight: 300;
  letter-spacing: 2px;
}

.primary-heading__heading {
  text-transform: uppercase;
  font-size: 4rem;
  color: #555;
  margin-top: 25px;
  font-weight: 700;
}

.primary-heading__span {
  position: relative;
  display: inline-block;
  line-height: 3rem;
}

.primary-heading__span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #1bbc9b;
  z-index: -1;
}

.primary-heading--left {
  text-align: left;
}

.header {
  width: 100%;
  height: 100vh;
  background: url(../img/header.jpg) center no-repeat;
}

.header__content {
  text-align: center;
  margin-top: 17rem;
}

.header__heading {
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.header__sub-heading {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 5px;
  margin: 3.5rem 0 6.5rem;
}

.header__input {
  width: 30%;
  padding: 15px 30px;
  border-radius: 25px;
  background-color: #fff;
  font-size: 1.4rem;
  outline: none;
  border: none;
}

.header__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7rem;
}

.option-box {
  padding: 25px 35px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 15px;
}

.option-box__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.option-box__link > i {
  font-size: 3rem;
  margin-bottom: 18px;
}

.option-box__link > span {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 3px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 30px 65px;
}

.nav__logo-image {
  font-size: 3rem;
  color: #fff;
}

.nav__list {
  font-size: 1.8rem;
  margin-left: 4.5rem;
  position: relative;
}

.nav__link {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav__icon {
  margin-left: auto;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

.nav__sub-list {
  position: absolute;
  width: 190px;
  top: 200%;
  left: -2rem;
  background-color: #fff;
  visibility: hidden;
  font-size: 1.4rem;
  color: #9a9a9a;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav__sub-list::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 15px;
}

.nav__sub-items {
  padding: 20px 25px;
  cursor: pointer;
}

.nav__sub-items:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav__sub-items:not(:last-child) {
  border-bottom: 1px solid #f1f1f1;
}

.nav__list:hover .nav__sub-list {
  visibility: visible;
}

.nav__btn {
  background-color: #BA71DA;
  font-size: 1.4rem;
  font-weight: 300;
}

.side-bar {
  position: fixed;
  top: 0;
  right: -320px;
  height: 100vh;
  background-color: #fff;
  padding: 3rem;
  width: 320px;
  overflow-y: scroll;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.side-bar__close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #9a9a9a;
  padding: 5px;
  border-radius: 50%;
  line-height: 1;
  cursor: pointer;
  font-size: 1.4rem;
}

.side-bar__title {
  text-align: center;
}

.side-bar__title > span {
  display: block;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #9a9a9a;
}

.side-bar__title > h2 {
  display: inline;
  position: relative;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0;
  opacity: 0.8;
}

.side-bar__title > h2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 20%;
  background-color: #ffa600d8;
  left: 0;
  bottom: 20%;
  z-index: -1;
}

.side-bar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-bar__items {
  margin: 10px 0;
}

.side-bar__content {
  margin: 30px 0;
}

.items-info {
  margin-left: 20px;
}

.items-info__heading {
  font-size: 2rem;
  color: #555;
  padding: 10px 0;
}

.items-info > span {
  color: #9a9a9a;
  font-size: 1.4rem;
}

.items-info__btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#FDC830), to(#F37335));
  background-image: linear-gradient(to right, #FDC830, #F37335);
  padding: 10px 20px;
  color: #fff;
  margin: 10px 0;
}

.items-img {
  width: 100px;
}

.show-side-bar {
  right: 0;
}

.desti {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 50px;
}

.desti-section {
  padding: 65px 0 55px;
}

.desti-item {
  position: relative;
  cursor: pointer;
}

.desti-item:hover .desti-overlay {
  visibility: visible;
  opacity: 1;
}

.desti-img > img {
  width: 100%;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.desti-img__icon {
  position: absolute;
  top: 25px;
  left: 25px;
  color: #fff;
  font-size: 4rem;
}

.desti-img__info {
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: #fff;
}

.desti-img__info > span {
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.desti-img__info > h3 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 10px;
}

.desti-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #14B9D5;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.desti-heading {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.desti-link {
  margin: 10px 0;
  color: #fff;
  font-size: 1.4rem;
}

.desti-btn {
  color: #14B9D5;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 10px;
  padding: 10px 20px;
}

.ads {
  background: url("../img/ads.jpg") center no-repeat;
}

.ads-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 75px 0;
}

.ads-heading {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
}

.ads-heading > span {
  position: relative;
  display: inline-block;
}

.ads-heading > span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #f7656f;
  bottom: 0;
  left: 0;
}

.ads-btn {
  background-color: #fff;
  color: #f7656f;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.beach {
  margin: 50px 0;
}

.beach-tittle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-column-gap: 10rem;
}

.beach-desc > p {
  line-height: 1.4;
}

.beach-desc {
  font-size: 1.4rem;
  color: #9a9a9a;
  margin-top: 4rem;
  font-weight: 300;
}

.beach-desc p:first-child {
  margin: 3rem 0;
}

.beach-price {
  margin: 30px 0;
}

.beach-price__old {
  font-size: 3.5rem;
  font-weight: 500;
  color: #f1f1f1;
  text-decoration: line-through;
}

.beach-price__new {
  font-size: 3.5rem;
  font-weight: 500;
  color: #555;
}

.beach-price__quantity {
  font-size: 2rem;
  font-weight: 300;
}

.beach-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.beach-btn {
  color: #fff;
  background-color: #1bbc9b;
  display: inline-block;
  letter-spacing: 3px;
}

.beach-img {
  position: relative;
}

.beach-time {
  position: absolute;
  width: 90%;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #14B9D5;
  color: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.5rem;
}

.beach-time > p {
  font-size: 3.5rem;
  height: 100%;
  color: #13b0cb;
}

.beach-time > div {
  text-align: center;
}

.beach-tag {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 45px;
  margin: 115px 0 80px;
}

.tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tag-info {
  margin-left: 25px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tag-info > h2 {
  font-size: 2.5rem;
  color: #555;
  font-weight: 600;
  text-transform: capitalize;
}

.tag-desc {
  font-size: 1.4rem;
  margin: 25px 0;
  color: #9a9a9a;
  line-height: 1.4;
  font-weight: 400;
}

.tag-link > a {
  display: block;
  font-size: 1.5rem;
  color: #14B9D5;
  font-weight: 300;
}

.tag-link {
  margin-top: auto;
}

.ads2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.ads2-item1 {
  background: url(../img/ads2.jpg) center no-repeat;
  background-size: cover;
}

.ads2-item2 {
  background-size: cover;
  background: url(../img/ads3.jpg) center no-repeat;
}

.ads2-sub {
  padding: 65px 0;
  text-align: center;
}

.ads2-sub > p {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
}

.ads2-sub > h3 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
  margin: 20px 0 40px;
}

.ads2-sub > a {
  color: #ffa400;
  background-color: #fff;
}

.packages {
  margin-bottom: 75px;
}

.packages-item {
  border: 1px solid #f1f1f1;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.packages-tittle {
  margin: 65px 0 50px;
}

.packages-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
}

.packages-img > img {
  width: 100%;
}

.packages-img {
  position: relative;
}

.packages-img__desc {
  position: absolute;
  top: 100%;
  right: 20px;
  width: 50px;
  height: 50px;
  padding: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #ffa400;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.packages-img__desc > img {
  width: 75%;
  margin: auto;
}

.packages-info {
  padding: 30px;
}

.packages-info__heading {
  font-size: 2rem;
  color: #555;
  font-weight: 700;
}

.packages-info__location {
  font-size: 1.6rem;
  color: #9a9a9a;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 15px 0 20px;
}

.packages-info__div {
  height: 1px;
  width: 100%;
  background-color: #f1f1f1;
}

.packages-info__price {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.packages-info__desc {
  font-size: 1.4rem;
  color: #555;
  font-weight: 300;
  line-height: 1.4;
}

.packages-info__desc span {
  display: inline-block;
  padding: 1px 10px;
  background: #ffca66;
  line-height: 1;
  border-radius: 10px;
}

.packages-info__money {
  font-size: 3rem;
  color: #555;
  letter-spacing: 2px;
  font-weight: 400;
}

.packages-info__dip {
  margin: 25px 0;
  line-height: 1.4;
  color: #9a9a9a;
  font-size: 1.6rem;
  font-weight: 300;
}

.packages-info__btn {
  color: #fff;
  background-color: #ffca66;
}

.footer {
  background: url(../img/footer.jpg) center no-repeat;
  padding-bottom: 70px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0 60px;
}

.footer-search {
  margin-left: 14rem;
}

.footer-search > input {
  color: #9a9a9a;
  font-size: 1.6rem;
  padding: 10px 15px;
  border: none;
  outline: none;
  width: 26rem;
  border-radius: 25px;
}

.footer-search > button {
  padding: 10px 15px;
  color: #fff;
  background-color: #14B9D5;
  margin-left: 10px;
}

.footer-content {
  padding: 35px 30px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-content__inner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-content__inner > h1 {
  font-size: 3rem;
  color: #555;
  font-weight: 600;
}

.footer-content__inner > p {
  color: #9a9a9a;
  font-size: 1.4rem;
  font-weight: 300;
  margin: 30px 0;
  letter-spacing: 2px;
  line-height: 1.4;
}

.footer-content__social > i {
  font-size: 2rem;
  margin: 0 10px;
}

.footer-content__list {
  margin: 0 30px;
}

.footer-content__list > h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #555;
  letter-spacing: 2px;
  margin-bottom: 43px;
}

.footer-content__list > span {
  display: block;
  font-size: 1.6rem;
  margin: 10px 0;
  color: #9a9a9a;
}

.footer-content__list i {
  line-height: 1;
  font-size: 1.6rem;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  color: #fff;
  background-color: #14B9D5;
  padding: 20px 30px;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */